body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background-color: #f6f7f7;
    }
    

    .container {
    // max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    
    width: 100%;


    @media screen and (min-width: $mob) {
    width: $mob;
    padding: 0 20px;
    }

    @media screen and (min-width:$tabl) {
    width: $tabl;
    padding: 0 32px;
    }

    @media screen and (min-width:$desc) {
    width: $desc;
    padding: 0 16px;
    
    }
    }