body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background: #BDBDBD;
    }
    

    .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    width: 100%;
    }