body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  background: #bdbdbd;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  width: 100%;

  @media screen and (min-width: $mob) {
    width: $mob;
  }

  @media screen and (min-width: $tabl) {
    width: $tabl;
  }

  @media screen and (min-width: $desc) {
    width: $desc;
  }
}
