:root {
    --bs-pink:#F3848C;
    --bs-brown:#3C322D;
    --bs-dark:#000000;
    --bs-dark-grey:#2E2520;
    --bs-white:#FFFFFF;
    --bs-yellow:#EDD501;
    --bs-silver:#C4C4C4;
    --bs-grey:#545454;
    --bs-light-pink:#D68362;
    }

    
    
  
    