<section class="section-speakers">
    <div class="container container__speakers">
        <h2 class="section-header">Speakers</h2>
        <ul class="speakers-list">
            <li class="speakers-list__item">
                <picture>
                    <source
                        srcset="./img/speakers-mobile/pastry-chef-mobile.png 1x, ./img/speakers-mobile/pastry-chef-mobile-2x.png 2x"
                        type="image/png" media="(max-width: 767px)">
                    <source
                        srcset="./img/speakers-desk/pastry-chef-desk.png 1x, ./img/speakers-desk/pastry-chef-desk2x.png 2x"
                        type="image/png" media="(min-width: 1200px)">
                    <source
                        srcset="./img/speakers-tablet/pastry-chef-tablet.png 1x, ./img/speakers-tablet/pastry-chef-tablet2x.png 2x"
                        type="image/png" media="(min-width: 768px)">
                    <img src="./img/speakers-mobile/pastry-chef-mobile.png" alt="team member">
                </picture>
                <h3 class="speaker">Molly Rivera</h3>
                <p class="speaker-profession">Pastry chef, master chocolatier of Spain</p>
            </li>
            <li class="speakers-list__item">
                <picture>
                    <source
                        srcset="./img/speakers-mobile/culinary-school-pastry-chef-mobile.png 1x, ./img/speakers-mobile/culinary-school-pastry-chef-mobile2x.png 2x"
                        type="image/png" media="(max-width: 767px)">
                    <source
                        srcset="./img/speakers-desk/culinary-school-pastry-chef-desk.png 1x, ./img/speakers-desk/culinary-school-pastry-chef-desk2x.png 2x"
                        type="image/png" media="(min-width: 1200px)">
                    <source
                        srcset="./img/speakers-tablet/culinary-school-pastry-chef-tablet.png 1x, ./img/speakers-tablet/culinary-school-pastry-chef-tablet2x.png 2x"
                        type="image/png" media="(min-width: 768px)">
                    <img src="./img/speakers-mobile/culinary-school-pastry-chef-mobile.png" alt="team member">
                </picture>
                <h3 class="speaker">Sophia Clark</h3>
                <p class="speaker-profession">Сulinary school pastry chef</p>
            </li>
            <li class="speakers-list__item">
                <picture>
                    <source
                        srcset="./img/speakers-mobile/consultant-in-the-art-of-confectionery-mobile.png 1x, ./img/speakers-mobile/consultant-in-the-art-of-confectionery-mobile2x.png 2x"
                        type="image/png" media="(max-width: 767px)">
                    <source
                        srcset="./img/speakers-desk/consultant-in-the-art-of-confectionery-desk.png 1x, ./img/speakers-desk/consultant-in-the-art-of-confectionery-desk2x.png 2x"
                        type="image/png" media="(min-width: 1200px)">
                    <source
                        srcset="./img/speakers-tablet/consultant-in-the-art-of-confectionery-tablet.png 1x, ./img/speakers-tablet/consultant-in-the-art-of-confectionery-tablet2x.png 2x"
                        type="image/png" media="(min-width: 768px)">
                    <img src="./img/speakers-mobile/consultant-in-the-art-of-confectionery-mobile.png"
                        alt="team member">
                </picture>
                <h3 class="speaker">Isabella Taylor</h3>
                <p class="speaker-profession">Сonsultant in the art of confectionery</p>
            </li>
            <li class="speakers-list__item">
                <picture>
                    <source
                        srcset="./img/speakers-mobile/master-chocolatier-mobile.png 1x, ./img/speakers-mobile/master-chocolatier-mobile2x.png 2x"
                        type="image/png" media="(max-width: 767px)">
                    <source
                        srcset="./img/speakers-desk/master-chocolatier-desk.png 1x, ./img/speakers-desk/master-chocolatier-desk2x.png 2x"
                        type="image/png" media="(min-width: 1200px)">
                    <source
                        srcset="./img/speakers-tablet/master-chocolatier-tablet.png 1x, ./img/speakers-tablet/master-chocolatier-tablet2x.png 2x"
                        type="image/png" media="(min-width: 768px)">
                    <img src="./img/speakers-mobile/consultant-in-the-art-of-confectionery-mobile.png"
                        alt="team member">
                </picture>
                <h3 class="speaker">Evelyn Miller</h3>
                <p class="speaker-profession">Master- chocolatier
                    in Spain</p>
            </li>
        </ul>
    </div>
</section>