<section>
    <div class="container">
        <div class="contact">
            <h2 class="contact__title">Contact</h2>
            <p class="contact__text">We will answer any question!</p>
            <form class="contact__form">
                <input class="contact__input" type="email" name="mail" id="mail" required min="1" max="10"
                    autocomplete="off" placeholder="Email"><br>
                <input class="contact__input" type="tel" required min="1" max="10" name="question" id="question"
                    autocomplete="off" placeholder="Type your question">
                <div class="contact__button"><button class="contact__btn" type="submit">Send</button></div>
            </form>
            <ul class="contact__soc-list list">
                <li class="contact__soc-item"><a href="" class="contact__soc-link link">
                        <svg class="contact__soc-icon" width="16" height="16">
                            <use href="./img/icons.svg#twitter"></use>
                        </svg>
                    </a></li>
                <li class="contact__item"><a href="" class="contact__soc-link link">
                        <svg class="contact__soc-icon" width="16" height="16">
                            <use href="./img/icons.svg#Instagram"></use>
                        </svg>
                    </a></li>
                <li class="contact__item"><a href="" class="contact__soc-link link">
                        <svg class="contact__soc-icon" width="16" height="16">
                            <use href="./img/icons.svg#facebook"></use>
                        </svg>
                    </a></li>
            </ul>
        </div>

        
</section>
