<section class="footer">
  <div class="container container-footer">
    <div class="wrapper-list">
      <ul class="social-list">
        <li class="social-list__item">
          <a class="social-list__link" href="#">
            <svg
              class="social-list__icon"
              aria-label="Twitter"
              width="16"
              height="16"
            >
              <use href="./img/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a class="social-list__link" href="#">
            <svg
              class="social-list__icon"
              aria-label="Instagram"
              width="16"
              height="16"
            >
              <use href="./img/icons.svg#Instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a class="social-list__link" href="#">
            <svg
              class="social-list__icon"
              aria-label="Facebook"
              width="16"
              height="16"
            >
              <use href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="contact">
      <a class="contact__link" href="tel:9102228855">
        <svg class="contact__link--icon" width="13" height="13">
          <use href="./img/icons.svg#tel"></use>
        </svg>
        (910)222-8855</a
      >

      <p class="contact__link">
        <svg class="contact__link--icon" width="11" height="14">
          <use href="./img/icons.svg#location"></use>
        </svg>
        New York
      </p>
    </div>
    <div class="wrapper-pict">
      <picture>
        <source
          srcset="
            ./img/footer/donuts-footer.png    1x,
            ./img/footer/donuts-footer2x.png 2x
          "
          type="image/png"
          media="(max-width: 767px)"
        />
        <img src="./img/footer/donuts-footer.png" alt="Two donuts" />
      </picture>
    </div>
  </div>
</section>
