<header class="header">
  <div class="container container-header">
    <section>
      <ul>
        <li>
          <picture class="logo">
            <source
              srcset="./img/logo/logo-mobile.png 2x"
              type="img/png"
            
            />
          </picture>
        </li>
      </ul>
      <ul>
        <li><a href="">About us</a></li>
        <li><a href="">Program</a></li>
        <li><a href="">Speakers</a></li>
        <li><a href="">Price</a></li>
        <li><a href="">Reviews</a></li>
        <li><a href="">Contacts</a></li>
      </ul>
      <div>
        <h1 class="header__tittle">Donut Masterclass with the Donut King</h1>
        <h2>Hosted by Eva Green</h2>
        <button class="button" type="button">Register</button>
      </div>
    </section>
    <button class="burger">
      <svg class="burger__img" width="30" height="16">
        <use href="#"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu">
    <div class="mob-menu__body">
      <button class="mob-menu__button">
        <svg width="32" height="32">
          <use href="#"></use>
        </svg>
      </button>
      <nav>
        <ul class="mob-menu__list">
          <li class="mob-menu__item"><a href="">About us</a></li>
          <li class="mob-menu__item"><a href="">Program</a></li>
          <li class="mob-menu__item"><a href="">Speaker</a></li>
          <li class="mob-menu__item"><a href="">Price</a></li>
          <li class="mob-menu__item"><a href="">Reviws</a></li>
          <li class="mob-menu__item"><a href="">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <ul class="social-list">
    <li class="social-list__item">
      <a class="social-list__link" href="">
        <svg class="social-link__icon">
          <use></use>
        </svg>
      </a>
    </li>
    <li class="social-list__item">
      <a class="social-list__link" href="">
        <svg class="social-link__icon">
          <use></use>
        </svg>
      </a>
    </li>
    <li class="social-list__item">
      <a class="social-list__link" href="">
        <svg class="social-link__icon">
          <use></use>
        </svg>
      </a>
    </li>
  </ul>
</header>
