<section class="section-price">

  <div class="container container-price">
    <h2 class="price-title">Price</h2>
    <ul class="price-card">
      <li class="price-card__item">
        <div class="price-card__bg">
          <h3 class="price-card__title">Easy start</h3>
          <ul class="price-list">
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">features of yeast dough preparation</p>
            </li>
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">preparation of liquid caramel for stuffing</p>
            </li>
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">
                preparation of raspberry and strawberry filling
              </p>
            </li>
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">fry and glaze donuts</p>
            </li>
          </ul>
        </div>
        <button class="price-card__button" type="button">Register</button>
      </li>
      <li class="price-card__item">
        <div class="price-card__bg">
          <h3 class="price-card__title">I want delicious donuts</h3>
          <ul class="price-list">
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">features of yeast dough preparation</p>
            </li>
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">preparation of liquid caramel for stuffing</p>
            </li>
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">
                preparation of raspberry and strawberry filling
              </p>
            </li>
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">melt chocolate for decoration</p>
            </li>
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">fry and glaze donuts</p>
            </li>
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">
                donut decoration. painting and various techniques
              </p>
            </li>
          </ul>
        </div>
        <button class="price-card__button" type="button">Register</button>
      </li>
      <li class="price-card__item">
        <div class="price-card__bg">
          <h3 class="price-card__title">Premium</h3>
          <ul class="price-list">
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">features of yeast dough preparation</p>
            </li>
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">preparation of liquid caramel for stuffing</p>
            </li>
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">
                preparation of raspberry and strawberry filling
              </p>
            </li>
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">melt chocolate for decoration</p>
            </li>
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">fry and glaze donuts</p>
            </li>
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">
                donut decoration. painting and various techniques
              </p>
            </li>
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">
                After party and donut tasting with speakers
              </p>
            </li>
            <li class="price-list__item">
              <svg class="price-list__svg" width="24" height="24">
                <use href="./img/icons.svg#cook-heat"></use>
              </svg>
              <p class="price-list__text">2 private lessons with one of the speakers</p>
            </li>
          </ul>
        </div>
        <button class="price-card__button" type="button">Register</button>
</li>
</section>
