<section class="section-program">
    <div class="container container__program">
        <div class="program-list__header">
            <div class="program-header">
                <h2 class="section-header">Program</h2>
                <p class="section-text">Indulge in this immersive sweet treat experience with The Chef Donut Queen in
                    her
                    New
                    York donut shop!
                </p>
            </div>
            <ul class="program-list">
                <li class="program-list__item">
                    <p class="program-list__text">A stand up history of donuts</p>
                </li>
                <li class="program-list__item">
                    <p class="program-list__text">Make 3 donut flavors of your choice</p>
                </li>
                <li class="program-list__item">
                    <p class="program-list__text">Enjoy all-you-can-eat donuts</p>
                </li>
                <li class="program-list__item">
                    <p class="program-list__text">Cocktail pairings and coffee included</p>
                </li>
                <li class="program-list__item">
                    <p class="program-list__text">Photoshoot by professional photographer</p>
                </li>
                <li class="program-list__item">
                    <p class="program-list__text">Secret receipt of cooking from Eva</p>
                </li>
                <li class="program-list__item">
                    <!--  <svg width="24" height="24">
                    <use href="./img/icons.svg#cook-heat"></use>
                </svg> -->
                    <p class="program-list__text">All products are included in the price</p>
                </li>
            </ul>
            <button type="button" class="read-more__header read-more-btn">Read more</button>
            <p class="read-more__text about-wrapper__text--more">Come with your dear people and friends
                and you will spend an unforgettable time and
                will become a real professional
                in donuts cooking!</p>
        </div>
        <div class="couple-lists">
            <ul class="read-more-list first">
                <li class="read-more-list__item top-first">

                    <picture class="program-img">
                        <source srcset="./img/program-mobile/program1.png 1x, ./img/program-mobile/program12x.png 2x"
                            type="image/png" media="(max-width: 767px)">
                        <source
                            srcset="./img/program-desk/program-desc1.png 1x, ./img/program-desk/program-desc12x.png 2x"
                            type="image/png" media="(min-width: 1280px)">
                        <source
                            srcset="./img/program-tablet/program-tabl1.png 1x, ./img/program-tablet/program-tabl12x.png 2x"
                            type="image/png" media="(min-width: 768px)">

                        <img src="./img/program-mobile/program1.png" alt="team member">
                    </picture>
                    <div class="read-more__background"></div>
                    <div class="read-more__overflow">
                        <h3 class="read-more__overflow--header">Type of the event</h3>
                        <p class="read-more__overflow--text">Cooking classes</p>
                    </div>

                </li>
                <li class="read-more-list__item bottom-first">

                    <picture class="program-img">
                        <source srcset="./img/program-mobile/program3.png 1x, ./img/program-mobile/program32x.png 2x"
                            type="image/png" media="(max-width: 767px)">
                        <source
                            srcset="./img/program-desk/program-desc3.png 1x, ./img/program-desk/program-desc32x.png 2x"
                            type="image/png" media="(min-width: 1280px)">
                        <source
                            srcset="./img/program-tablet/program-tabl3.png 1x, ./img/program-tablet/program-tabl32x.png 2x"
                            type="image/png" media="(min-width: 768px)">

                        <img src="./img/program-mobile/program3.png" alt="team member">
                    </picture>
                    <div class="read-more__background"></div>
                    <div class="read-more__overflow">
                        <h3 class="read-more__overflow--header">Time of the event</h3>
                        <p class="read-more__overflow--text">18:30 (2.5 hours)</p>
                    </div>

                </li>

            </ul>
            <ul class="read-more-list second">

                <li class="read-more-list__item top-second">
                    <picture class="program-img">
                        <source srcset="./img/program-mobile/program2.png 1x, ./img/program-mobile/program22x.png 2x"
                            type="image/png" media="(max-width: 767px)">
                        <source
                            srcset="./img/program-desk/program-desc2.png 1x, ./img/program-desk/program-desc22x.png 2x"
                            type="image/png" media="(min-width: 1280px)">
                        <source
                            srcset="./img/program-tablet/program-tabl2.png 1x, ./img/program-tablet/program-tabl22x.png 2x"
                            type="image/png" media="(min-width: 768px)">
                        <img src="./img/program-mobile/program2.png" alt="team member">
                    </picture>
                    <div class="read-more__background"></div>
                    <div class="read-more__overflow">
                        <h3 class="read-more__overflow--header">Number of guests</h3>
                        <p class="read-more__overflow--text">1 to 20</p>
                    </div>

                </li>
                <li class="read-more-list__item bottom-second">

                    <picture class="program-img">
                        <source srcset="./img/program-mobile/program4.png 1x, ./img/program-mobile/program42x.png 2x"
                            type="image/png" media="(max-width: 767px)">
                        <source
                            srcset="./img/program-desk/program-desc4.png 1x, ./img/program-desk/program-desc42x.png 2x"
                            type="image/png" media="(min-width: 1280px)">
                        <source
                            srcset="./img/program-tablet/program-tabl4.png 1x, ./img/program-tablet/program-tabl42x.png 2x"
                            type="image/png" media="(min-width: 768px)">
                        <img src="./img/program-mobile/program4.png" alt="team member">
                    </picture>
                    <div class="read-more__background"></div>
                    <div class="read-more__overflow">
                        <h3 class="read-more__overflow--header">The host speaks</h3>
                        <p class="read-more__overflow--text">English, French</p>
                    </div>

        </div>
        </li>
        </ul>
    </div>
    </div>
</section>
