<section class="section-program">
    <div class="container container__program">
        <h2 class="section-header">Program</h2>
        <p>Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!
        </p>
        <ul class="program-list">
            <li class="program-list__item"><svg>
                    <use href="#"></use>
                </svg>
                <p>A stand up history of donuts</p>
            </li>
            <li class="program-list__item"><svg>
                    <use href="#"></use>
                </svg>
                <p>Make 3 donut flavors of your choice</p>
            </li>
            <li class="program-list__item"><svg>
                    <use href="#"></use>
                </svg>
                <p>Enjoy all-you-can-eat donuts</p>
            </li>
            <li class="program-list__item"><svg>
                    <use href="#"></use>
                </svg>
                <p>Cocktail pairings and coffee included</p>
            </li>
            <li class="program-list__item"><svg>
                    <use href="#"></use>
                </svg>
                <p>Photoshoot by professional photographer</p>
            </li>
            <li class="program-list__item"><svg>
                    <use href="#"></use>
                </svg>
                <p>Secret receipt of cooking from Eva</p>
            </li>
            <li class="program-list__item"><svg>
                    <use href="#"></use>
                </svg>
                <p>All products are included in the price</p>
            </li>
        </ul>
        <p>Read more</p>
        <ul class="read-more-list first">
            <li class="read-more-list__item">
                <h3>Type of the event</h3>
                <p>Cooking classes</p>
            </li>
            <li class="read-more-list__item">
                <h3>Number of guests</h3>
                <p>1 to 20</p>
            </li>
        </ul>
        <ul class="read-more-list second">

            <li class="read-more-list__item">
                <h3>Time of the event</h3>
                <p>18:30 (2.5 hours)</p>
            </li>
            <li class="read-more-list__item">
                <h3>The host speaks</h3>
                <p>English, French</p>
            </li>
        </ul>
    </div>
</section>
<section class="section-speakers">
    <div class="container container__speakers">
        <h2 class="section-header">Speakers</h2>
        <ul class="speakers-list">
            <li class="speakers-list__item">
                <picture>
                    <img src="#" alt="">
                </picture>
                <h3>Molly Rivera</h3>
                <p>Pastry chef, master chocolatier of Spain</p>
            </li>
            <li class="speakers-list__item">
                <picture>
                    <img src="#" alt="">
                </picture>
                <h3>Sophia Clark</h3>
                <p>Сulinary school pastry chef</p>
            </li>
            <li class="speakers-list__item">
                <picture>
                    <img src="#" alt="">
                </picture>
                <h3>Isabella Taylor</h3>
                <p>Сonsultant in the art of confectionery</p>
            </li>
            <li class="speakers-list__item">
                <picture>
                    <img src="#" alt="">
                </picture>
                <h3>Evelyn Miller</h3>
                <p>Master- chocolatier
                    in Spain</p>
            </li>
        </ul>
    </div>
</section>