<section class="section-program">
    <div class="container container__program">
        <h2 class="section-header">Program</h2>
        <p>Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!
        </p>
        <ul class="program-list">
            <li class="program-list__item"><svg>
                    <use href="#"></use>
                </svg>
                <p>A stand up history of donuts</p>
            </li>
            <li class="program-list__item"><svg>
                    <use href="#"></use>
                </svg>
                <p>Make 3 donut flavors of your choice</p>
            </li>
            <li class="program-list__item"><svg>
                    <use href="#"></use>
                </svg>
                <p>Enjoy all-you-can-eat donuts</p>
            </li>
            <li class="program-list__item"><svg>
                    <use href="#"></use>
                </svg>
                <p>Cocktail pairings and coffee included</p>
            </li>
            <li class="program-list__item"><svg>
                    <use href="#"></use>
                </svg>
                <p>Photoshoot by professional photographer</p>
            </li>
            <li class="program-list__item"><svg>
                    <use href="#"></use>
                </svg>
                <p>Secret receipt of cooking from Eva</p>
            </li>
            <li class="program-list__item"><svg>
                    <use href="#"></use>
                </svg>
                <p>All products are included in the price</p>
            </li>
        </ul>
        <p>Read more</p>
        <div class="couple-lists">
            <ul class="read-more-list first">
                <li class="read-more-list__item">
                    <picture>
                        <source
                            srcset="./img/program-mobile/read-more-mobile1.png 1x, ./img/program-mobile/read-more-mobile12x.png 2x"
                            type="image/png" media="(max-width: 767px)">
                        <source
                            srcset="./img/program-desk/program1-desk.png 1x, ./img/program-desk/program1-desk2x.png 2x"
                            type="image/png" media="(min-width: 1200px)">
                        <source
                            srcset="./img/program-tablet/read-more-tablet12x.png 1x, ./img/program-tablet/read-more-tablet1.png 2x"
                            type="image/png" media="(min-width: 768px)">

                        <img src="./img/program-mobile/read-more-mobile1.png" alt="team member">
                    </picture>
                    <h3>Type of the event</h3>
                    <p>Cooking classes</p>
                </li>
                <li class="read-more-list__item">
                    <picture>
                        <source
                            srcset="./img/program-mobile/read-more-mobile3.png 1x, ./img/program-mobile/read-more-mobile32x.png 2x"
                            type="image/png" media="(max-width: 767px)">
                        <source
                            srcset="./img/program-desk/program3-desk.png 1x, ./img/program-desk/program3-desk2x.png 2x"
                            type="image/png" media="(min-width: 1200px)">
                        <source
                            srcset="./img/program-tablet/read-more-tablet3.png 1x, ./img/program-tablet/read-more-tablet32x.png 2x"
                            type="image/png" media="(min-width: 768px)">


                        <img src="./img/program-mobile/read-more-mobile3.png" alt="team member">
                    </picture>
                    <h3>Time of the event</h3>
                    <p>18:30 (2.5 hours)</p>
                </li>

            </ul>
            <ul class="read-more-list second">

                <li class="read-more-list__item">
                    <picture>
                        <source
                            srcset="./img/program-mobile/read-more-mobile2.png 1x, ./img/program-mobile/read-more-mobile22x.png 2x"
                            type="image/png" media="(max-width: 767px)">
                        <source
                            srcset="./img/program-desk/program2-desk.png 1x, ./img/program-desk/program2-desk2x.png 2x"
                            type="image/png" media="(min-width: 1200px)">
                        <source
                            srcset="./img/program-tablet/read-more-tablet22.png 1x, ./img/program-tablet/read-more-tablet22x.png 2x"
                            type="image/png" media="(min-width: 768px)">
                        <img src="./img/program-mobile/read-more-mobile2.png" alt="team member">
                    </picture>
                    <h3>Number of guests</h3>
                    <p>1 to 20</p>
                </li>
                <li class="read-more-list__item">
                    <picture>
                        <source
                            srcset="./img/program-mobile/read-more-mobile4.png 1x, ./img/program-mobile/read-more-mobile42x.png 2x"
                            type="image/png" media="(max-width: 767px)">
                        <source
                            srcset="./img/program-desk/program4-desk.png 1x, ./img/program-desk/program4-desk2x.png 2x"
                            type="image/png" media="(min-width: 1200px)">
                        <source
                            srcset="./img/program-tablet/read-more-tablet4.png 1x, ./img/program-tablet/read-more-tablet42x.png 2x"
                            type="image/png" media="(min-width: 768px)">
                        <img src="./img/program-mobile/read-more-mobile4.png" alt="team member">
                    </picture>
                    <h3>The host speaks</h3>
                    <p>English, French</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="section-speakers">
    <div class="container container__speakers">
        <h2 class="section-header">Speakers</h2>
        <ul class="speakers-list">
            <li class="speakers-list__item">
                <picture>
                    <source
                        srcset="./img/speakers-mobile/pastry-chef-mobile.png 1x, ./img/speakers-mobile/pastry-chef-mobile-2x.png 2x"
                        type="image/png" media="(max-width: 767px)">
                    <source
                        srcset="./img/speakers-desk/pastry-chef-desk.png 1x, ./img/speakers-desk/pastry-chef-desk2x.png 2x"
                        type="image/png" media="(min-width: 1200px)">
                    <source
                        srcset="./img/speakers-tablet/pastry-chef-tablet.png 1x, ./img/speakers-tablet/pastry-chef-tablet2x.png 2x"
                        type="image/png" media="(min-width: 768px)">
                    <img src="./img/speakers-mobile/pastry-chef-mobile.png" alt="team member">
                </picture>
                <h3>Molly Rivera</h3>
                <p>Pastry chef, master chocolatier of Spain</p>
            </li>
            <li class="speakers-list__item">
                <picture>
                    <source
                        srcset="./img/speakers-mobile/culinary-school-pastry-chef-mobile.png 1x, ./img/speakers-mobile/pastry-chef-mobile-2x.png 2x"
                        type="image/png" media="(max-width: 767px)">
                    <source
                        srcset="./img/speakers-desk/pastry-chef-desk.png 1x, ./img/speakers-desk/pastry-chef-desk2x.png 2x"
                        type="image/png" media="(min-width: 1200px)">
                    <source
                        srcset="./img/speakers-tablet/pastry-chef-tablet.png 1x, ./img/speakers-tablet/pastry-chef-tablet2x.png 2x"
                        type="image/png" media="(min-width: 768px)">
                    <img src="./img/speakers-mobile/pastry-chef-mobile.png" alt="team member">
                </picture>
                <h3>Sophia Clark</h3>
                <p>Сulinary school pastry chef</p>
            </li>
            <li class="speakers-list__item">

                <h3>Isabella Taylor</h3>
                <p>Сonsultant in the art of confectionery</p>
            </li>
            <li class="speakers-list__item">

                <h3>Evelyn Miller</h3>
                <p>Master- chocolatier
                    in Spain</p>
            </li>
        </ul>
    </div>
</section>