<section class="section section-reviews">
  <div class="container contanier-reviews">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="photo-list">
      <li class="photo-list__item">
        <picture class="photo-list__picture">
          <source
            srcset="
              ./img/rewiews-desk/john-desk.png   1x,
              ./img/rewiews-desk/john-desk2x.png 2x
            "
            type="image/png"
            media="(min-width:
          1280px)"
          />

          <source
            srcset="
              ./img/rewiews-tablet/john-tablet.png   1x,
              ./img/rewiews-tablet/john-tablet2x.png 2x
            "
            type="image/png"
            media="(min-width:
          768px)"
          />

          <img
            class="photo-list__img"
            src="./img/rewiews-tablet/john-tablet.png"
            alt="man"
          />
        </picture>
        <svg class="photo-list__svg" width="136" height="24">
          <use href="./img/icons.svg#icon-rate"></use>
        </svg>
        <h3 class="photo-list__title">John</h3>
      </li>

      <li class="photo-list__item">
        <picture class="photo-list__picture">
          <source
            srcset="
              ./img/rewiews-desk/will-desk.png   1x,
              ./img/rewiews-desk/will-desk2x.png 2x
            "
            type="image/png"
            media="(min-width:
          1280px)"
          />
          <source
            srcset="
              ./img/rewiews-mobile/wiil-mobile.png   1x,
              ./img/rewiews-mobile/wiil-mobile2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />

          <source
            srcset="
              ./img/rewiews-tablet/will-tablet.png   1x,
              ./img/rewiews-tablet/will-tablet2x.png 2x
            "
            type="image/png"
            media="(min-width: 767px)"
          />

          <img
            class="photo-list__main-img"
            src="./img/rewiews-mobile/wiil-mobile.png"
            alt="man"
          />
        </picture>

        <svg class="photo-list__svg" width="136" height="24">
          <use href="./img/icons.svg#icon-rate-1"></use>
        </svg>
        <h3 class="photo-list__title">Will</h3>
        <p class="photo-list__text">
          <span class="photo-list__row"
            >Last time I have visited a cooking course by Eva</span
          >
          <span class="photo-list__row"
            >I was impressed with the way she explained everything</span
          >
          <span class="photo-list__row"
            >to people. You can be sure you will manage to cook a delicious dish
            even if it is your first time in the kitchen!</span
          >
          <span class="photo-list__row"
            >Thank you so much for the masterclass! Looking forward to the next
            one and highly recommend it to everyone!</span
          >
        </p>
        <p class="photo-list__pagination">2/15</p>
      </li>

      <li class="photo-list__item">
        <picture class="photo-list__picture">
          <source
            srcset="
              ./img/rewiews-desk/elizabeth-desk.png   1x,
              ./img/rewiews-desk/elizabeth-desk2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/rewiews-tablet/elizabeth-tablet.png   1x,
              ./img/rewiews-tablet/elizabeth-tablet2x.png 2x
            "
            type="image/png"
            media="(min-width: 767px)"
          />

          <img
            class="photo-list__img"
            src="./img/rewiews-tablet/elizabeth-tablet.png"
            alt="man"
          />
        </picture>
        <svg class="photo-list__svg" width="136" height="24">
          <use href="./img/icons.svg#icon-rate-1"></use>
        </svg>
        <h3 class="photo-list__title">Elizabeth</h3>
      </li>
    </ul>
  </div>
</section>
