.section-about {
   background-color: rgba(229, 226, 227, 1);
   padding-top: 20px;

   @media screen and (min-width: $tabl) {
      padding-top: 36px;
   }

   @media screen and (min-width: $desc) {
      padding-top: 64px;
   }
}

.container-about {
   @media screen and (min-width: $tabl) {
      display: flex;
   }
}

.img-wrapper {
   flex-shrink: 0;
   margin-bottom: 28px;

   @media screen and (min-width: $tabl) {
      margin-right: 30px;
      margin-bottom: 0;
   }
}

.about-wrapper__title {
   font-family: 'Montserrat Alternates', sans-serif;
   color: var(--bs-brown);
   font-weight: 500;
   font-size: 24px;
   line-height: 1.2;
   text-align: center;

   margin-bottom: 8px;

   @media screen and (min-width: $tabl) {
      text-align: start;
      font-size: 32px;
      line-height: 1.22;
      margin-bottom: 28px;
   }
}

.about-wrapper {
   background-image: url(../img/about_us/decor.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: top;

   // max-width: 280px;
   // @media screen and (min-width: $tabl) {
   //    max-width: 336px;
   // }

   // @media screen and (min-width: $desc) {
   //    max-width: 608px;
   // }
}

.about-wrapper__text, 
.about-wrapper__add,
.about-wrapper__text--more {
   font-size: 16px;
   line-height: 1.25;
   color: var(--bs-brown);

   @media screen and (min-width: $desc) {
      font-size: 18px;
      line-height: 1.22;
   }
}

.about-wrapper__add {
   margin-top: 15px;
   margin-bottom: 15px;

   @media screen and (min-width: $desc) {
      margin-top: 20px;
      margin-bottom: 20px;
   }
}

.about-wrapper__text--more {
   @media screen and (max-width: $pre-desc) {
      opacity: 0;
      font-size: 0;
      transition: opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1), 
      font-size 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
   }
}

.is-open {
   @media screen and (max-width: $pre-desc) {
      font-size: 16px;
      opacity: 1;
   }
}

.read-more-btn {
   @media screen and (max-width: $pre-desc) {
      display: block;
   align-items: flex-start;
   padding: 0;
   margin-top: 16px;
   outline: none;
   border: none;
   background-color: inherit;

   font-weight: 500;
   font-size: 16px;
   line-height: 1.25;
   color: var(--bs-brown);
   cursor: pointer;

      &:hover,
      &:focus {
         color: rgba(60, 50, 45, 0.8);
      }
   }

   @media screen and (min-width: $desc) {
      display: none;
   }
}

