/* img {
  display: block;
  width: 100%;
  max-height: 100%;
} */
.section-program {

  background-color: #f6f7f7;

  @media screen and (min-width: $mob) {
    padding-bottom: 35px; 
  }
  @media screen and (min-width: $tabl) {
    padding-bottom: 20px;
  }
  @media screen and (min-width: $desc) {
    padding-bottom: 0;
  }
}

.container__program {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 480px;
  @media screen and (min-width: $mob) {
    justify-content: center;
    flex-direction: column;
  }
  @media screen and (min-width: $tabl) {
    width: 768px;
    flex-direction: row;
    align-items: center;
  }
  @media screen and (min-width: $desc) {
    width: 1280px;
    flex-direction: row;
    align-items: baseline;
  }
}



.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #3C322D;
  @media screen and (min-width: $tabl) {
    justify-content: left;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    color: #3C322D;
  }
  @media screen and (min-width: $desc) {
    justify-content: left;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    color: #3C322D;
  }
}

.section-text {
  display: flex;
  max-width: 280px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  @media screen and (min-width: $tabl) {
    display: flex;
    width: 326px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
  @media screen and (min-width: $desc) {
    display: flex;
    margin-bottom: 20px;
    width: 392px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #3C322D;
  }
}

.read-more__header {
  display: flex;
  justify-content: left;
  margin-top: 16px;
  @media screen and (min-width: $mob) {
  }
  @media screen and (min-width: $desc) {
    display: none;
  }
  @media screen and (min-width: $desc) {
    display: none;
  }
}

.about-wrapper__text--more {
  @media screen and (max-width: $pre-desc) {
    opacity: 0;
    font-size: 0;
    transition: opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1),
      font-size 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

/* .read-more__text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: none;
  @media screen and (min-width: $mob) {
    display: none;
  }
  @media screen and (min-width: $tabl) {
    display: none;
  }
  @media screen and (min-width: $desc) {
    display: block;
  }
} */

.is-open {
  @media screen and (max-width: $pre-desc) {
    font-size: 16px;
    opacity: 1;
  }
}

.program-list__header {
  @media screen and (min-width: $mob) {
  }
  @media screen and (min-width: $tabl) {
    width: 329px;
    margin-top: 52px;
  }
  @media screen and (min-width: $desc) {
    width: 415px;
    margin-right: 0;
    margin-top: 130px;
  }
}

.read-more-btn {
  @media screen and (max-width: $pre-desc) {
    display: block;
    align-items: flex-start;
    padding: 0;
    margin-top: 16px;
    outline: none;
    border: none;
    background-color: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: brown;
    cursor: pointer;

    &:hover,
    &:focus {
      color: rgba(60, 50, 45, 0.8);
    }
  }
}

.program-list {
}

.program-list__item:not(:last-child) {
  @media screen and (min-width: $mob) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: $tabl) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: $desc) {
    margin-bottom: 16px;
  }
}

.program-list__text {
  display: flex;
  align-items: center;
  color: currentColor;
  text-decoration: none;
}

.program-list__text::before {
  margin-right: 8px;
  content: '';
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url('../img/icon-heat.svg');
  left: 8px;
}

.program-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.read-more-list__item {
  position: relative;
}

.read-more__overflow {
  position: absolute;
  top: 30;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  @media screen and (min-width: $tabl) {
    top: 50;
  }
  @media screen and (min-width: $desc) {
    top: 150;
  }
}

.read-more__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    359.99deg,
    #000000 -9.2%,
    rgba(156, 156, 156, 0) 97.68%
  );
  border: 1px solid #f3848c;
  border-radius: 50%;
  @media screen and (min-width: $desc) {
    background: linear-gradient(
      360deg,
      #000000 -7.06%,
      rgba(156, 156, 156, 0) 87.5%
    );
  }

  @media screen and (min-width: $desc) {
    background: linear-gradient(
      1.79deg,
      #000000 -8.34%,
      rgba(156, 156, 156, 0) 69.2%
    );
  }
}

.read-more-list {
}

.couple-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $tabl) {
    width: 290px;
  }

  @media screen and (min-width: $desc) {
    margin-right: 0;
    margin-left: 116px;
    width: 716px;
  }
}

.first {
  margin-right: 20px;
  padding-top: 24px;
  @media screen and (min-width: $tabl) {
    padding-top: 99px;
  }
  @media screen and (min-width: $desc) {
    padding-top: 72px;
  }
}

.second {
  margin-right: auto;
  margin-left: auto;
  padding-top: 44px;

  @media screen and (min-width: $tabl) {
    padding-top: 99px;
  }
  @media screen and (min-width: $desc) {
    padding-top: 132px;
  }
}

.top-first {
  margin-bottom: 28px;
  @media screen and (min-width: $tabl) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: $desc) {
    margin-bottom: 36px;
  }
}

.bottom-first {
}

.top-second {
  margin-bottom: 28px;
  margin-bottom: 28px;
  @media screen and (min-width: $tabl) {
    margin-bottom: 80px;
  }
  @media screen and (min-width: $desc) {
    margin-bottom: 40px;
  }
}

.bottom-second {
}

.read-more__overflow--text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #ffffff;
  @media screen and (min-width: $mob) {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #ffffff;
  }

  @media screen and (min-width: $tabl) {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
  }
  @media screen and (min-width: $desc) {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }
}

.read-more__overflow--header {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  @media screen and (min-width: $mob) {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
  }

  @media screen and (min-width: $tabl) {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
  }
  @media screen and (min-width: $desc) {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
}
