.section-about {
   padding-top: 20px;

   @media screen and (min-width: $tabl) {
      padding-top: 36px;
   }

   @media screen and (min-width: $desc) {
      padding-top: 64px;
   }
}

.container-about {
   max-width: 280px;
   height: 100%;

   @media screen and (min-width: $tabl) {
      max-width: 704px;
      display: flex;
   }

   @media screen and (min-width: $desc) {
      max-width: 1248px;
      display: flex;
   }
}

.img-wrapper {
   display: block;
   max-width: 100%;
   height: auto;
   margin-bottom: 28px;

   @media screen and (min-width: $tabl) {
      margin-right: 30px;
      margin-bottom: 0;
   }

   @media screen and (min-width: $desc) {
      max-width: 608px;
   }
}

.about-wrapper {
   @media screen and (min-width: $desc) {
      display: none;
   }
}

.about-wrapper__title {
   font-family: 'Montserrat Alternates', sans-serif;
   color: var(--bs-brown);
   font-weight: 500;
   font-size: 24px;
   line-height: 1.2;
   text-align: center;

   margin-bottom: 8px;

   @media screen and (min-width: $tabl) {
      font-weight: 500;
      font-size: 32px;
      line-height: 1.22;
      margin-bottom: 28px;
   }
}

.about-wrapper__text, .more__text {
   color: var(--bs-brown);
   font-size: 16px;
   line-height: 1.25;
   text-align: justify;
}

.about-wrapper__input {
   display: none;

   &:checked ~ .more {
      display: block;
   }
}

.more {
   display: none;
}

.about-wrapper__label {
   display: inline-block;

   font-weight: 500;
   font-size: 16px;
   line-height: 1.25;
   color: var(--bs-brown);

   margin-top: 16px;

   @media screen and (min-width: $tabl) {
      margin-top: 28px;
   }
}

.about-wrapper__input:checked ~ .about-wrapper__label {
   visibility: hidden;
}

.about-wrapper__input:checked ~ .about-wrapper__label::after {
   content: "Less";
   display: block;
   visibility: visible;
}

.about-desk {
   display: none;
   @media screen and (min-width: $desc) {
      max-width: 608px;
      display: block;
      text-align: start;
      font-size: 18px;
      line-height: 1.22;
      color: var(--bs-brown);
      
      .about-desk__title {
         text-align: start;
      }
   }
}