.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 52px;

  @media screen and (min-width: 768px) {
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    padding: 0;
    padding-bottom: 138px;
  }

  &__title {
    margin: 0;
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: var(--bs-brown);

    @media screen and (max-width: 767px) {
      max-width: 280px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
      max-width: 315px;
      font-size: 30px;
      line-height: 1.23;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 20px;
      max-width: 729px;
      font-size: 60px;
      line-height: 1.08;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 28px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: var(--bs-brown);

    @media screen and (min-width: 768px) {
      margin-bottom: 24px;
      text-align: left;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 28px;
      font-size: 24px;
      line-height: 1.21;
    }
  }

  &__link {
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      width: 140px;
      margin: 0;
    }

    @media screen and (min-width: 1200px) {
      width: 145px;
    }
  }
}

.social-list {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    width: 140px;
    margin: 0;
    margin-top: 30px;
  }

  &__item {
    justify-content: center;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    width: 100%;
    fill: #3c322d;
  }
}

.button {
    width: 145px;
    cursor: pointer;
    color: #f6f7f7;
    background-color: #f3848c;
    border: rgba(0,0,0,0);
    border-radius: 25px;
    justify-content: center;
    padding: 8px 0;
    font-size: 18px;
    line-height: 1.22;
    display: flex;
    box-shadow: 10px 15px 25px rgb(232 183 183 / 45%);
}