.price-title {
  margin-bottom: 27px;
  text-align: center;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;

  color: #2e2520;
}

.price-card {
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;

    color: #2e2520;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    width: 280px;

    background: #fafbfb;

    box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
    border-radius: 25px;
  }
}

.price-list__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;

  color: #2e2520;
}

.price-list__text::before {
  display: inline-block;
  margin-right: 8px;
  content: '';
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url('../img/icons.svg#cook-heat');
  left: 8px;
}

.price-card__button {
  width: 145px;
  height: 40px;
  color: #ffffff;
  background: #f3848c;
  border-radius: 25px;
}
