.section-program {
  padding-top: 28px;
}

.container__program {
  display: block;
  justify-content: center;
  align-items: center;
}

.section-header {
}

.couple-lists {
  display: flex;
  justify-content: space-between;
}

.program-list {
}

.program-list__item {
}

.read-more-list {
}

.first {
}

.read-more-list__item {
}

.second {
}
