.section-program {
}

.container__program {
  display: block;
  justify-content: center;
  align-items: center;
}

.section-header {
}

.program-list {
}

.program-list__item {
}

.read-more-list {
}

.first {
}

.read-more-list__item {
}

.second {
}
